@font-face {
	font-family: play;
	src : url("../font chu/play/Play-Regular.ttf");
}
body{
	background: url(../image/body_bg.png);
	font-family: play;
}
.container{
	max-width: 1140px;
}
.col,.col-sm-8,.col-sm-4{
	padding-left: 0;
	padding-right: 0;
}
.user-rate .box{
	width: 55px;
	height: 11px;
	background: url(../image/rate-bg.png) 0 0 repeat-X;
	position: relative;
}
.user-rate .box .rating{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../image/rate-bg.png) 0 100% repeat-X;

}
/* Begin header */
header .container .header{
margin-bottom: 20px;
} /* logo */

header .container .menu-controll nav{
	background: #3d3d3d;
	border-radius: 6px 6px 0 0;
	padding: 0;
	user-select: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

}
 header .container .menu-controll nav.navbar button{
     position: relative;
 }   
  header .container .menu-controll nav.navbar button div{
     position: absolute;
     top: 50%;
     left: 65px;
     transform: translateY(-50%);
     width: 200px;
     text-align: left;
     text-transform: uppercase;
 }
header .container .menu-controll nav > a{
	display: none;
}
header .container .menu-controll nav .collapse ul{
	margin-right: 0 !important;
	width: 100%;
}
header .container .menu-controll nav .collapse ul li{
	padding: 10px 20px;
	position: relative;
}
header .container .menu-controll nav .collapse ul li:not(:first-child){
	border-left: 1px solid #474747;
}
header .container .menu-controll nav .collapse ul li:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	background: #34AC35;
	top: 0;
	left: 0;
	border-radius: 6px 6px 0 0;
	transition: 0.35s;
}
header .container .menu-controll nav .collapse ul li:hover:before{
	height: 100%;
}
header .container .menu-controll nav .collapse ul li.down ul li:hover:before{
	height: 100%;
}
header .container .menu-controll nav .collapse ul li a{
	font-size: 11.8px;
	font-weight: bold;
	text-transform: uppercase;
	color: #efefef !important;
	position: relative;
	text-decoration: none;
}
header .container .menu-controll nav .collapse ul li.down{
	position: relative;
	line-height: 34px;
	font-size: 11.8px;
	font-weight: bold;
	text-transform: uppercase;
	color: #efefef ;
	padding-right: 35px;
	cursor: pointer;
}
header .container .menu-controll nav .collapse ul li.down span{
	z-index: 3;
	position: relative;
	display: inline-block;
}
header .container .menu-controll nav .collapse ul li.down  i{
	font-size: 14px;
	position: absolute;
	top: 20%;
	right: 0;
	transform: translate(20px,0%);
}
header .container .menu-controll nav .collapse ul li.down ul{
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	height: auto;
	z-index: 999;
	background: #ccc;
	width: auto;
}
header .container .menu-controll nav .collapse ul li.down ul li{
	background: #3D3D3D;
	list-style: none;
	border: none;
	position: relative;
	z-index: 2;
	cursor: pointer;
	text-decoration: none;
	width: 200px;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.25s;
	padding-left: 28px !important;
}

header .container .menu-controll nav .collapse ul li.down ul li a{
	display: none;
}
header .container .menu-controll nav .collapse ul li.down ul li:before{
	border-radius: 0;
}	

header .container .menu-controll nav .collapse ul li:last-child{
	padding-right: 13px;
	padding-left: 13px;
	min-width: 283px;

}
header .container .menu-controll nav .collapse ul li:last-child:hover:before{
	height: 0;
}
header .container .menu-controll nav .collapse ul li:last-child .form{
	position: relative;
	width: 100%;
	height: 34px;
}
header .container .menu-controll nav .collapse ul li:last-child .form ul{
	list-style: none;
	width: 100%;
	z-index: 99999;
	padding: 0;
	position: absolute;
	top: 100%;
	height: 100px;
	overflow: auto;
}
header .container .menu-controll nav .collapse ul li:last-child .form ul li{
	border: none;
	font-size: 11px;
	height: 20px;
	line-height: 12px;
	margin: 0;
	padding: 3px;
	overflow: hidden;
	width: 100%;
	background: #3d3d3d;
	color: #fff;
	cursor: pointer;
	margin-top: 5px;
	border: 1px solid #85d564;
	border-radius: 20px;
	display: none;
}
header .container .menu-controll nav .collapse ul li.down ul li:last-child{
	min-width: 200px !important;
}
header .container .menu-controll nav .collapse ul li:last-child .form ul li:before{
	height: 0;
}
header .container .menu-controll nav .collapse ul li:last-child .form .report{
	width: 180px;
	padding: 10px 20px;
	position: absolute;
	bottom: 150%;
	right: -10px;
	background: #bbb;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	display: none;
}
header .container .menu-controll nav .collapse ul li:last-child .form .report:after{
		content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-top: 10px solid #ccc;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
header .container .menu-controll nav .collapse ul li:last-child .form a{
	width: 36px;
	height: 34px;
	display: inline-block;
	border-radius: 100% 100% 0;
	background: #85d564;
	font-size: 13px;
	line-height: 34px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0; 
}
header .container .menu-controll nav .collapse ul li:last-child .form input{
	width: 100%;
	height: 100%;
	display: block;
	border: 1.5px solid  #85d564;
	border-radius: 34px;
	background: #3d3d3d;
	color: #fdfdfd;
	padding-left: 5px;
	box-sizing: border-box;	
}

header .container .menu-controll nav .collapse ul li:last-child .form ::-webkit-input-placeholder{
	font-size: 13px;
	font-weight: bold;
	color: #fdfdfd;
	transform: translateY(-3px);
	padding-left: 10px;

}
 /* menu controll */
  header .container .banner{
  	background: #fdfdfd;
  	margin-top: 5px;
  	padding-bottom: 30px;
  }
 header .container .banner .col-sm-8{
 	padding-left: 5px;

 }
 header .container .banner .col-sm-4{
 	padding-right: 5px;
 }

header .container .banner .col-sm-4 .detail{
	width: 100%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	background: #f1f1f1;
	padding: 0 10px;
	margin-top: 0px;
	padding-top: 5px;
} 
header .container .banner .col-sm-4 .detail img:last-child{
	width: 100%;
}
header .container .banner .top-review{
	width: 100%;
	height: 363px;
	overflow: hidden;
}
header .container .banner .top-review .top-review-product{
	height: 122px; 
	border-bottom: 1px dashed #999;
	padding: 20px 10px;
}
header .container .banner h3{
	font-size: 14px;
	line-height: 27px;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
	height: 27px;
	background: #34AC36;
	padding-left: 10px;
	color: #fff;
}
header .container .banner .top-review img{
	float: left;
	margin-right: 20px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
	width: 60px;
	height: 60px;
}
header .container .banner .top-review p{
	font-size: 12px;
	margin-bottom: 8px;
	cursor: pointer;
}
header .container .banner .top-review p:nth-child(3){
	padding-left: 78px;
}
header .container .banner .top-review p:nth-child(4){
	padding-left: 78px;
}

header .container .banner nav ol{ 
	background: #fdfdfd;
	border-radius: 0;
	margin-bottom: 2px;
}
header .container .banner nav ol li,
header .container .banner nav ol li a{  
	font-size: 12px;
}
header .container .banner nav ol li{
	color: #2a2a2a;
}
header .container .banner h3:nth-child(2){
	background: #7ABF00;
	margin-left: 16px;
	color: #fff;
	font-size: 13px;
	padding-left: 10px;
	margin-bottom: 0;
}
header .container .banner h4{
	font-size: 14px;
	margin-left: 16px;
	color: #333;
	text-transform: capitalize;
	font-family: "Tahoma"	;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}
header .container .banner p{
	font-size: 11.9px;
	margin-left: 16px;
	margin-top: 5px;
	margin-bottom: 18px;
	letter-spacing: 0.5px;
}
header .container .banner ul li{
	font-size: 11.6px;
}
header .container .banner p u{
	text-decoration: none;
	cursor: default;
}
header .container .banner p u:hover{
	text-decoration: underline;
}

header .container .banner form{
	margin-left: 16px;
	margin-top: 5px;
}
header .container .banner form label{
	display: block;
	font-size: 12px;
	color: #373d42;
}
header .container .banner form label sup{
	color: red;
	font-size: 13px;
	position: relative;
	top: -2px;
}
header .container .banner form label input,header .container .banner form label textarea{
	display: block;
	width: 90%;
	margin-top: 5px;
}
header .container .banner form input[type="submit"]{
	background-color: #ff7800;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	margin-bottom: 50px;
	margin-top: 0;
	border: 1px solid #ccc;
	cursor: pointer;
}
header .container .banner form label textarea{
	height: 200px;
}
header .container .banner form img{
	width: 302px;
	height: 76px;
	border: 1px solid #ccc;
	margin-top: 20px;
}
header .container .banner form p{
	color: red;
	font-size: 12px;
	text-transform: capitalize;
	margin-top: 25px;
	margin-bottom: 10px;
}
/* End header */


/* Begin brand logo */
.brand_logo .container .row .col .cover{
	width: 100%;
	box-shadow: 0 1.5px 9px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	background: #fff;	
	background-size: 100%;
	position: relative;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 20px;
}
.brand_logo .container .row .col div.brand_logo{
	width: 90%;
	margin: auto;
}
.brand_logo .container .row .col div.brand_logo .slick-prev{
	left: -6.5%;
	width: 51px;
	height: 45px;
	background: url(../image/button-bg.png) no-repeat 0 0;
}
.brand_logo .container .row .col div.brand_logo .slick-next{
	right: -6.5%;
	width: 51px;
	height: 45px;
	background: url(../image/button-bg.png) no-repeat -51px 0px;
}
.brand_logo .container .row .col div.brand_logo .slick-prev:before,.brand_logo .container .row .col div.brand_logo .slick-next:before{
	content: "";
}
.brand_logo .container .row .col div.brand_logo .item {
	padding-bottom: 6px;
}	
.brand_logo .container .row .col div.brand_logo .item img{
	width: 92px;
	height: 90px;
	background: url(../image/bg-brand.png);
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 5px;
}
/* End logo */

/* Begin Footer */
footer{
	margin-bottom: 30px;
}
footer .container .row{
	background: #fdfdfd;
	box-shadow: 0 1.5px 9px rgba(0, 0, 0, 0.6);
}
footer .container .row .col-md-5{
	padding-left: 30px;
	padding-right: 40px;
	padding-top: 30px;
}
footer .container .row .col-md-5  p{
	margin-top: 20px;
	color: #666;
	font-size: 1.1rem;
}
footer .container .row:nth-child(1) .col-md{
	border-left: 1px solid #ccc;
	padding-left: 20px;
	color: #8a8a8a;

}
footer .container .row:nth-child(1) .col-md h3{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #292733;
	margin-top: 30px;
	margin-bottom: 13px;
}
footer .container .row:nth-child(1) .col-md ul{
	padding: 0;
	list-style: none;
}
footer .container .row:nth-child(1) .col-md ul li{
	margin-top: 10px;

}
footer .container .row:nth-child(1) .col-md ul li a{
	text-decoration: none;
	color: #8a8a8a;

}
footer .container .row:nth-child(1) .col-md ul li a i{
	border: 1px solid #888;
	color : #555;
	font-size: 11px;
	height: 24px;
	width: 24px;
	border-radius: 100%;
	text-align: center;
	line-height: 22px;
	margin-right: 13px;
	transition: 0.35s;
}
footer .container .row:nth-child(1) .col-md ul li i{
}
footer .container .row:nth-child(1) .col-md ul li:hover a i{
	border: 1px solid transparent;
	color: #fdfdfd;
}
footer .container .row:nth-child(1) .col-md ul li:hover a i.fa-facebook-f{
	background:  #0033cc;
}
footer .container .row:nth-child(1) .col-md ul li:hover a i.fa-twitter{
	background: #0099ff;
}
footer .container .row:nth-child(1) .col-md ul li:hover a i.fa-google-plus-g{
	background: #ff3300;
}
footer .container .row:nth-child(1) .col-md ul li:hover a i.fa-pinterest-p{
	background: red;
}
footer .container .row:nth-child(1) .col-md p{
	cursor: pointer;
}
footer .container .row:nth-child(1) .col-md p:nth-child(2){
	cursor: pointer;
	margin-bottom: 28px;	
}
footer .container .row:nth-child(1) .col-md p i{
	margin-right: 13px;
	color: #8a8a8a !important;
}
footer .container .row:nth-child(1) .col-md p span{
	display: block;
	float: right;
	width: 90%;
}
footer .container .row:nth-child(1) .col-md p:last-child{
	color: #85d564;
}
footer .container .row:nth-child(2){
	border-radius: 0 0 5px 5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}
/* End footer */

/* Responsive */
@media only screen and (max-width: 1200px) {
	header .container .menu-controll nav .collapse ul li {
		padding-left: 12px;
		padding-right: 12px;
	}
	
	header .container .menu-controll nav .collapse ul li a{
			font-size: 11px;
	}	
	header .container .menu-controll nav .collapse ul li:last-child{
		min-width: 260px;
	}
}

/* End max width 1200px */

@media only screen and (max-width: 992px) {
	header .container .menu-controll nav .collapse ul li {
		padding-left: 5px;
		padding-right: 5px;
	}
	header .container .menu-controll nav .collapse ul li:last-child{
		width: 202px;
	}
	header .container .menu-controll nav .collapse ul li.down{
		font-size: 0.6rem;
	}
	header .container .menu-controll nav .collapse ul li a{
		font-size: 0.6rem;
	}	
	header .container .menu-controll nav .collapse ul li:last-child{
		min-width: 230px;
	}
	
}
/* End max width 992px */

@media only screen and (max-width: 768px) {
	header .container .menu-controll nav .collapse ul li{
		padding-left: 20px;
	}
	header .container .menu-controll nav .collapse ul li:last-child{
		width: 100%;
	}
	header .container .menu-controll nav .collapse ul li.down{
		font-size: 11px;
	}
	header .container .menu-controll nav .collapse ul li a{
		font-size: 11px;
	}		
	header .container .banner .col-sm-8{
 		padding-left: 0px;
 	}
	 header .container .banner .col-sm-4{
 		padding-right: 0px;
 	}
	header .container .banner .col-sm-4 .detail img:last-child{
		display: none;
	}
	footer .container .row:nth-child(1) .col-md{
		border-top: 1px solid #ccc;
		border-left: none;
	}
	footer .container .row:nth-child(1) .col-md:last-child{
		border-left: 1px solid #ccc;
	}

}

/* End max width 768px */
@media only screen and (max-width: 576px) {


	header .container .banner .col-sm-8{
 		padding-left: 0px;
 	}
	 header .container .banner .col-sm-4{
 		padding-right: 0px;
 	}
 	
}
/* End max width 576px */